 */Clases/
 */node_modules/
*/C:\Users\Emanuel\Desktop\ArgPrograma\Captura de pantalla 2023-06-15 190626.png/
*/C:\Users\Emanuel\Desktop\ArgPrograma\tag.jpg.png/
*/agrego tag
*/tag.jpg.png
*/     CODIGO EJERCICIO 2.png
       */ Captura de pantalla 2023-06-15 190626.png
        */Captura de pantalla 2023-06-16 235644.png
        */Captura de pantalla 2023-06-29 192724.png
        */Clases/
        */agrego tag
        */clasesab24.txt
        */ejercicio array.png
        */ejercicio3.png
        */extras.js
        */git ignore.txt
        */piedraPapelTijeras.js
        */practicoN2/node_modules/
        */tag.jpg